__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.DS_Store
.git
.gitignore
chroma_db/
frontend/node_modules/
models/
!models/text2vec-base-chinese/model.safetensors
!models/text2vec-base-chinese/config.json
!models/text2vec-base-chinese/vocab.txt
!models/text2vec-base-chinese/tokenizer.json
!models/text2vec-base-chinese/tokenizer_config.json
!models/text2vec-base-chinese/special_tokens_map.json
